<div class="w-full min-h-full bg-white p-4 flex flex-col gap-5 text-black">
  <div class="w-full hidden max-lg:block">
    <button (click)="handleClose()">X</button>
  </div>
  <div class="w-full flex flex-col gap-5">
    <p class="text-xl font-bold text-gray-700">Shopping Bag</p>
    <button
      class="rounded-lg font-bold text-sm border border-black border-solid text-gray-800 p-2 h-12 shadow-sm hover:shadow"
    >
      Checkout
    </button>
    <button
      class="rounded-lg font-bold text-sm border border-black border-solid text-gray-800 p-2 h-12 shadow-sm hover:shadow"
    >
      Pay with Card
    </button>
  </div>
  <div class="flex flex-col gap-1">
    <p class="font-light text-sm">Sending from United States</p>
    <p class="font-light text-sm">You don't need to pay import duties</p>
  </div>

  <div class="flex flex-col gap-4">
    @for (item of cartService.cartItems; track $index) {
    <app-cart-item [product]="item" />
    }
  </div>
</div>
