<nav>
  <p>Sports <span>Apparel</span></p>
  <button
    class="menu-btn"
    [ngClass]="display ? 'hide-btn' : 'show-btn'"
    (click)="openMenu()"
  >
    <img [src]="menu_open_icon" alt="menu" />
  </button>

  <div class="menu" [ngClass]="display ? 'open_menu' : 'close_menu'">
    <button
      class="menu-btn"
      (click)="closeMenu()"
      [ngClass]="display ? 'show-btn' : 'hide-btn'"
    >
      <img [src]="menu_close_icon" alt="menu" />
    </button>
    <ul class="menu-content">
      <li class="menu-item" (click)="closeMenu()" routerLink="">Home</li>
      <li class="menu-item" (click)="closeMenu()" routerLink="">About</li>
      <li class="menu-item" (click)="closeMenu()">Categories</li>
    </ul>
    <button class="shop-button" (click)="closeMenu()" routerLink="shop">
      Shop
    </button>
  </div>
</nav>
