nav p {
  font-family: Montserrat-bold;
}

.menu-item {
  cursor: pointer;
}
.menu-btn {
  display: none;
}
@media screen and (max-width: 600px) {
  nav {
    padding: 0;
  }
  .menu {
    font-family: Montserrat-bold;
    @apply transition-all pt-5 bg-black gap-2 top-16 w-full h-screen items-start justify-start flex-col absolute;
  }
  .menu-content {
    flex-direction: column;
    gap: 10px;
  }
  .menu-item {
    @apply cursor-pointer transition-colors p-3 bg-orange-400 rounded-2xl rounded-l-none w-32 hover:bg-orange-500;
  }

  .shop-button:hover {
    width: 250px;
  }

  .close_menu {
    transform: translateX(-110%);
  }
  .open_menu {
    transform: translateX(0%);
  }
  .show-btn {
    display: block;
  }
  .hide-btn {
    display: none;
  }
  .menu-btn {
    @apply bg-black border-none right-1 absolute w-10 h-10;
  }
}
