nav {
  height: 70px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  position: relative;
  max-width: 1024px;
  padding-right: 10px;
}
nav p {
  font-size: 20px;
  font-weight: bold;
  font-family: Montserrat-bold;
  padding: 0 10px;
}
nav p span {
  color: orange;
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
}

.shop-button {
  width: 80px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.menu-content {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
  gap: 5px;
}
.menu-btn {
  display: none;
}
@media screen and (max-width: 600px) {
  .menu {
    position: absolute;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 70px;
    gap: 10px;
    background-color: black;
    padding-top: 20px;
    transition: all 0.5s;
    font-family: Montserrat-bold;
  }
  .menu-content {
    flex-direction: column;
    gap: 10px;
  }
  .menu-item {
    padding: 10px;
    background-color: orange;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
  }

  .shop-button:hover {
    width: 250px;
  }
  .menu-item:hover {
    width: 250px;
  }
  .shop-button {
    transition: all 0.5s;
    padding: 10px;
    cursor: pointer;
    background-color: blue;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 120px;
    text-align: left;
    font-family: Montserrat-bold;
  }
  .close_menu {
    transform: translateX(-150%);
  }
  .open_menu {
    transform: translateX(0%);
  }
  .show-btn {
    display: block;
  }
  .hide-btn {
    display: none;
  }
  .menu-btn {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 5px;
    border: none;
    background-color: black;
  }
}
