<header class="w-screen flex justify-center fixed h-16 z-20">
  <nav
    class="h-16 w-full max-w-7xl flex justify-between items-center relative bg-slate-800 text-white px-8 max-sm:px-2"
  >
    <div class="flex pl-2 items-center gap-4">
      <button
        class="w-8 h-8 hidden"
        [ngClass]="display ? 'hide-btn' : 'show-btn'"
        (click)="openMenu()"
      >
        <img [src]="menu_open_icon" alt="menu" />
      </button>
      <p routerLink="" class="cursor-pointer max-sm:text-lg text-xl font-bold">
        S<span class="text-orange-500">App</span>
      </p>
    </div>
    <div
      class="menu flex items-center gap-4"
      [ngClass]="display ? 'open_menu' : 'close_menu'"
    >
      <div class="hidden max-sm:flex w-full justify-end">
        <button
          class="w-10 h-10"
          (click)="closeMenu()"
          [ngClass]="display ? 'show-btn' : 'hide-btn'"
        >
          <img [src]="menu_close_icon" alt="menu" />
        </button>
      </div>

      <div>
        <ul class="flex gap-4 list-none max-sm:flex-col">
          <li class="menu-item" (click)="closeMenu()" routerLink="">
            Home
            <span
              class="w-full h-1 transition-colors bg-slate-800 hover:bg-orange-500"
            ></span>
          </li>
          <li class="menu-item" (click)="closeMenu()" routerLink="">
            About
            <span
              class="w-full h-1 transition-colors bg-slate-800 hover:bg-orange-500"
            ></span>
          </li>
          <li class="menu-item" (click)="closeMenu()">
            Categories<span
              class="w-full h-1 transition-colors bg-slate-800 hover:bg-orange-500"
            ></span>
          </li>
          <li class="menu-item" (click)="closeMenu()" routerLink="shop">
            Shop
            <span
              class="w-full h-1 transition-colors bg-slate-800 hover:bg-orange-500"
            ></span>
          </li>
        </ul>
      </div>
    </div>
    <button class="p-4 w-fit max-[240px]:hidden" (click)="handleOpenPannel()">
      Cart
      <span class="bg-orange-500 font-bold p-1 rounded-2xl">
        {{ cartService.cartTotal() }}
      </span>
    </button>
  </nav>
</header>
