<section>
  <div class="product-main" *ngIf="product">
    <div class="product-image">
      <img src="{{ product.imageUrl }}" alt="{{ product.title }}" />
    </div>
    <div class="product-details">
      <div class="product-content">
        <p class="product-title">{{ product.title }}</p>
        <p class="product-description">{{ product.description }}</p>
      </div>

      <div class="product-actions">
        <div class="product-quantity">
          <button>-</button>
          <p>1</p>
          <button>+</button>
        </div>
        <button class="add-to-cart">Add to cart</button>
      </div>
    </div>
  </div>
</section>
