<article>
  <div class="top">
    <h1 class="text-4xl">
      Rep your <span class="blue-text">Color,</span><br />Own your passion
    </h1>
    <p class="text-xl">
      Find your perfect jersey at sportsapparel.We offer a wide seletion of
      jersey from all major sports leagues and teams
    </p>
  </div>
  <div class="banner">
    <img src="/assets/front.png" alt="banner" />
  </div>
  <div class="bottom">
    <h2 class="text-2xl">
      Reasons why you<br />
      should <span class="orange-text">choose </span>SportsApparel
    </h2>
  </div>
</article>
