<article class="flex flex-row max-sm:flex-col gap-4 p-8">
  <div class="w-1/2 flex flex-col justify-center gap-4 max-sm:w-full">
    <h1 class="max-sm:text-3xl max-lg:text-5xl text-6xl text-gray-700">
      Rep your <span class="text-sky-600">Color</span> your passion
    </h1>
    <p class="responsive-font min-[400px]:text-2xl text-slate-600 font-medium">
      Find your perfect jersey at sportsapparel.We offer a wide seletion of
      jersey from all major sports leagues and teams
    </p>
  </div>

  <div
    class="w-1/2 overflow-hidden flex justify-end items-center max-sm:w-full"
  >
    <img
      src="/assets/front.png"
      alt="banner"
      class="w-auto h-auto max-w-full max-h-full"
    />
  </div>
</article>
