<section>
  <div class="top">
    <h1>
      Rep your <span class="blue-text">Color,</span><br />Own your passion
    </h1>
    <p>
      Find your perfect jersey at sportsapparel.We offer a wide seletion of
      jersey from all major sports leagues and teams
    </p>
  </div>
  <div class="banner">
    <img src="/assets/front.png" alt="banner" />
  </div>
  <div class="bottom">
    <h2>
      Reasons why you<br />
      should <span class="orange-text">choose </span>SportsApparel
    </h2>
    <div class="card-container">
      @for (item of action_card_data; track $index) {
      <app-action-card
        [text]="item.text"
        [title]="item.title"
      ></app-action-card>
      }
    </div>
  </div>
</section>
