* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: orangered;
}
@font-face {
  font-family: Montserrat-bold;
  src: url("/assets/MontserratAlternates-Black.otf"), format("truetype");
}
@font-face {
  font-family: Montserrat;
  src: url("/assets/Montserrat-Medium.otf"), format("truetype");
}
html {
}
body {
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  height: 100svh;
}
img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-width: 100%;
}
main {
}
section {
  @apply w-full max-w-7xl p-4;
}
h1,
h2 {
  font-family: Montserrat-bold;
}
p {
  font-size: 15px;
}
.orange-text {
  color: orangered;
}
.blue-text {
  color: blue;
}

.red-border {
  border: 1px solid red;
}
